{% extends "admin/base.twig" %}

{% block title %}
    {{ parent() }} - OAuth2
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>oAuth2</h2>
        </div>
    </div>
{% endblock %}
